[Unit]
Description=Ethereum Watcher for Mainnet
After=network.target

[Service]
WorkingDirectory=/home/ubuntu/streamr-ethereum-watcher
Type=simple
User=ubuntu
ExecStart=/home/ubuntu/.nvm/versions/node/v14.17.0/bin/node index.js --devopsKey=TODO_KEY --networkId=1 --ethereumServerURL=TODO_INFURA_URL --streamrApiURL=https://streamr.network/api/v1 --verbose=2 --lastBlockDir=/srv/ethereum-watcher-mainnet
Restart=always
RestartSec=5

[Install]
WantedBy=basic.target
